{% extends 'header.html' %}
{% block content %}
<section id="login" class="login">
      <div>
        <form action="/login" method="post">
            <div>
              <input type="text" name="email" id="email" placeholder="Email" required>
            </div>

            <div>
              <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            {%if (creadential_not_valid):%}
            <p>email or password is invalid</p>
            {%endif%}
          <div class="text-center"><button type="submit">Login</button></div>
        </form>
      </div>
  </section>
{% endblock %}

