{% extends 'header.html' %}

{% block content %}
<h1>Register</h1>
	<section id="login" class="login">
		<div>
			<form action="/register" method="post">

				<div>
					<input type="text" name="email" id="email" placeholder="email" required>
				</div>

				<div>
					<input type="text" name="username" id="username" placeholder="Username" required>
				</div>

				<div>
					<input type="password" name="password" id="password" placeholder="Password" required>
				</div>
				{% if(notvalidpassword): %}
				<p>Password and confirmation are different</p>
				{%endif%}
				<div>
					<input type="password" name="password-confimed" id="password-confimed"
						placeholder="retype your password" required>
				</div>
				{% if(email_already_exist): %}
				<p>The email already exists</p>
				{%endif%}
				<div class="text-center"><button type="submit">Register</button></div>
			</form>
			<!--End Contact Form -->

		</div>
	</section><!-- End Login Section -->


{% endblock %}