{% extends 'header.html' %}

{% block content %}
	<section id="login" class="login">
		<div>
			<form action="/register" method="post">

				<div>
					<input type="text" name="email" id="emial" placeholder="email" required>
				</div>

				<div>
					<input type="text" name="username" id="username" placeholder="Username" required>
				</div>

				<div>
					<input type="password" name="password" id="password" placeholder="Password" required>
				</div>

				<div>
					<input type="password" name="password-confimed" id="password-confimed"
						placeholder="retype your password" required>
				</div>

				<div class="text-center"><button type="submit">Register</button></div>
			</form>
			<!--End Contact Form -->

		</div>
	</section><!-- End Login Section -->


{% endblock %}